@use '../../sass/styles';

.button {
    color: white;
    font-size: 1.2rem;
    border-radius: 16px;
    border: none;
    padding: 2px;
    background: radial-gradient(circle 80px at 80% -10%, #ffffff, #181b1b);
    position: relative;
    height: 3.4rem;
    width: 20vw;

    .button::after {
        content: "";
        position: absolute;
        width: 65%;
        height: 60%;
        border-radius: 120px;
        top: 0;
        right: 0;
        box-shadow: 0 0 20px #ffffff38;
        z-index: -1;
    }

    .blob1 {
        position: absolute;
        width: 70px;
        height: 100%;
        border-radius: 16px;
        bottom: 0;
        left: 0;
        background: radial-gradient(circle 60px at 0% 100%,
                #3fe9ff,
                #154d5e,
                transparent);
        box-shadow: -10px 10px 30px #0051ff2d;
    }

    &:hover {
        cursor: pointer;
        transform: scale(0.98);
    }

    .text {
        padding: 14px 25px;
        border-radius: 14px;
        color: #fff;
        z-index: 3;
        position: relative;
        background: radial-gradient(circle 80px at 80% -50%, #777777, #0f1111);

        .text::before {
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border-radius: 14px;
            background: radial-gradient(circle 60px at 0% 100%,
                    #00e1ff1a,
                    #0000ff11,
                    transparent);
            position: absolute;
        }
    }
}

@media (max-width: 475px) {
    .button {
        font-size: 4.1vw;
        height: 3.54rem;
        width: 22rem;
    }
}

@media (max-width: 467px) {
    .button {
        height: 3.4rem;
        width: 21.8rem;
    }
}

@media (max-width: 429px) {
    .button {
        height: 3.3rem;
        width: 20rem;
    }
}

@media (max-width: 400px) {
    .button {
        height: 3.2rem;
        width: 19rem;
    }
}

@media (max-width: 380px) {
    .button {
        height: 3.1rem;
        width: 18rem;
    }
}