@use '../../sass/styles';

.who-am-i {
    @include styles.background;
    @include styles.center;
    flex-direction: column;
    letter-spacing: 0.28px;
    padding-bottom: 6rem;
    height: 100vh;
    width: 100vw;

    .get-to-know-me-subtitle {
        color: white;
        font-size: 1rem;
    }

    .who-am-i-title {
        @include styles.degrade-blue-text;
        font-size: 2.3rem;
        margin-top: 1.4rem;
        margin-bottom: 1.8rem;
    }

    .who-am-i-paragraph {
        color: var(--gray-color);
        font-size: 1.28rem;
        border: solid 2px white;
        margin: 0;
        padding: 1.7rem 2rem 1.5rem 2rem;
        height: 52%;
        width: 72%;

        .gradient-blue-text {
            @include styles.degrade-blue-text;
        }

        .space-left {
            margin-left: 0.8vw;
        }
    }

    .scroll-effect {
        color: black;
    }
}

@media (max-width: 429px) {
    .who-am-i {
        padding-bottom: 0;
        height: 30rem;

        .get-to-know-me-subtitle {
            font-size: 0.8rem;
        }

        .who-am-i-title {
            font-size: 1.7rem;
        }

        .who-am-i-paragraph {
            font-size: 0.87rem;
            padding: 0.9rem 1.2rem 0.7rem 1.2rem;
            height: 16.2rem;
            width: 78vw;
        }
    }

}

@media (max-width: 423px) {
    .who-am-i {
        .who-am-i-paragraph {
            font-size: 0.86rem;
        }
    }
}

@media (max-width: 419px) {
    .who-am-i {
        .who-am-i-paragraph {
            font-size: 0.85rem;
        }
    }
}

@media (max-width: 414px) {
    .who-am-i {
        .who-am-i-paragraph {
            font-size: 0.84rem;
        }
    }
}

@media (max-width: 409px) {
    .who-am-i {
        .who-am-i-paragraph {
            font-size: 0.839rem;
        }
    }
}

@media (max-width: 377px) {
    .who-am-i {
        .who-am-i-title {
            font-size: 1.6rem;
        }

        .who-am-i-paragraph {
            font-size: 0.8rem;
            padding: 0.9rem 1.2rem 0.7rem 1.2rem;
            height: 16.2rem;
            width: 78vw;
        }
    }
}

@media (max-width: 369px) {
    .who-am-i {
        .who-am-i-title {
            font-size: 1.5rem;
        }

        .who-am-i-paragraph {
            font-size: 0.8rem;
            padding: 0.9rem 1.2rem 0.7rem 1.2rem;
            height: 16.2rem;
            width: 78vw;
        }
    }
}