@use '../../sass/styles';

.who-am-i {
    @include styles.background;
    @include styles.center;
    flex-direction: column;
    padding: 5rem 8rem 5rem 8rem;
    height: 31rem;

    .get-to-know-me-subtitle {
        color: white;
        font-size: 1rem;
    }

    .who-am-i-title {
        @include styles.degrade-blue-text;
        font-size: 2.3rem;
        margin: 1.5rem 0;
    }

    .who-am-i-paragraph {
        color: var(--gray-color);
        font-size: 1.66rem;
        letter-spacing: 0.28px;
        border: solid 2px white;
        margin: 0;
        padding: 1.7rem 2rem 1.7rem 2rem;
        height: 20rem;
    }
}

@media (max-width: 429px) {
    .who-am-i {
        padding: 2.5rem 1.5rem 2.5rem 1.5rem;
        height: 24rem;

        .get-to-know-me-subtitle {
            font-size: 0.8rem;
        }

        .who-am-i-title {
            font-size: 1.7rem;
        }

        .who-am-i-paragraph {
            font-size: 0.876rem;
            padding: 0.7rem 1.2rem 0.7rem 1.2rem;
            height: 16.2rem;
        }
    }

}

@media (max-width: 423px) {
    .who-am-i {
        .who-am-i-paragraph {
            font-size: 0.86rem;
        }
    }
}

@media (max-width: 419px) {
    .who-am-i {
        .who-am-i-paragraph {
            font-size: 0.85rem;
        }
    }
}

@media (max-width: 414px) {
    .who-am-i {
        .who-am-i-paragraph {
            font-size: 0.84rem;
        }
    }
}

@media (max-width: 409px) {
    .who-am-i {
        .who-am-i-paragraph {
            font-size: 0.839rem;
        }
    }
}

@media (max-width: 387px) {
    .who-am-i {
        .who-am-i-title {
            font-size: 1.6rem;
        }

        .who-am-i-paragraph {
            font-size: 0.815rem;
        }
    }
}

@media (max-width: 377px) {
    .who-am-i {
        .who-am-i-title {
            font-size: 1.6rem;
        }

        .who-am-i-paragraph {
            font-size: 0.8rem;
        }
    }
}

@media (max-width: 366px) {
    .who-am-i {
        .who-am-i-title {
            font-size: 1.5rem;
        }

        .who-am-i-paragraph {
            font-size: 0.792rem;
        }
    }
}