.whatsapp {
    background-color: rgb(67, 205, 102);
    color: white;
    border-style: none;
    border-radius: 0.4rem;
    padding: 0.4rem;
    height: 3.2rem;
    width: 3.2rem;

    &:hover {
        cursor: pointer;
    }
}