.download-cv {
    height: 100%;
    width: 25%
}

@media (max-width: 429px) {
    .download-cv {
        height: 24%;
        width: 100%;
    }
}

@media (max-width: 400px) {
    .download-cv {
        height: 23.5%;
    }
}

@media (max-width: 376px) {
    .download-cv {
        height: 23%;
    }
}