@use "../../sass/styles";

@mixin desktop-image-config {
    transition: all 0.3s;
    border-radius: 0.8rem;
    height: 99%;
    width: 78%;
}

@mixin mobile-image-config {
    border-radius: 0.4rem;
    height: 97.79%;
    width: 85.95%;
}

.tech-stack {
    @include styles.center;
    flex-direction: column;
    padding: 5rem 8rem 5rem 8rem;

    .fullstack-subtitle {
        color: white;
        font-size: 1rem;
    }

    .tech-stack-title {
        @include styles.degrade-blue-text;
        font-size: 2.3rem;
        margin: 1.5 rem 0;
    }

    .tech-stack-paragraph {
        text-align: center;
        color: white;
        font-size: 1.9rem;
        margin: 0 0 1.5rem 0;
    }

    .tech-stack-images {
        display: flex;
        position: relative;
        height: 24.5rem;
        width: 100%;

        .frontend {
            @include desktop-image-config;
        }

        .backend {
            @include desktop-image-config;
            left: 21.5%;
        }
    }
}

@media (max-width: 475px) {
    .tech-stack {
        padding: 2.5rem 2rem 2.5rem 2rem;

        .fullstack-subtitle {
            font-size: 0.9rem;
        }

        .tech-stack-title {
            font-size: 1.8rem;
        }

        .tech-stack-paragraph {
            font-size: 1.3rem;
        }

        .tech-stack-images {
            height: 12rem;
            width: 100%;

            .frontend {
                @include mobile-image-config;
            }

            .backend {
                @include mobile-image-config;
                left: 13%;
            }
        }
    }
}

@media (max-width: 451px) {
    .tech-stack {
        .tech-stack-paragraph {
            font-size: 1.27rem;
        }

        .tech-stack-images {
            height: 11.5rem;
        }
    }
}

@media (max-width: 442px) {
    .tech-stack {
        .tech-stack-paragraph {
            font-size: 1.22rem;
        }

        .tech-stack-images {
            height: 11rem;
        }
    }
}

@media (max-width: 429px) {
    .tech-stack {
        padding: 2.5rem 1.5rem 2.5rem 1.5rem;
        height: 23rem;

        .fullstack-subtitle {
            font-size: 0.8rem;
        }

        .tech-stack-title {
            font-size: 1.7rem;
        }

        .tech-stack-paragraph {
            font-size: 1.2rem;
        }

        .tech-stack-images {
            height: 10.5rem;
        }
    }
}

@media (max-width: 406px) {
    .tech-stack {
        .tech-stack-paragraph {
            font-size: 1.15rem;
        }

        .tech-stack-images {
            height: 10rem;
        }
    }
}

@media (max-width: 391px) {
    .tech-stack {
        .tech-stack-paragraph {
            font-size: 1.1rem;
        }

        .tech-stack-images {
            height: 9.5rem;
        }
    }
}

@media (max-width: 375px) {
    .tech-stack {
        .tech-stack-paragraph {
            font-size: 1rem;
        }

        .tech-stack-images {
            height: 9rem;
        }
    }
}