@use "../../sass/styles";

@mixin desktop-image-config {
    transition: all 0.3s;
    border-radius: 0.8rem;
    height: 99%;
    width: 78.5%;
}

@mixin mobile-image-config {
    transition: all 0.3s;
    border-radius: 0.4rem;
    height: 97.79%;
    width: 85.95%;
}

.tech-stack {
    @include styles.background;
    @include styles.center;
    flex-direction: column;
    padding: 5rem 8rem 5rem 8rem;
    height: 41.5rem;

    .fullstack-subtitle {
        color: white;
        font-size: 1rem;
    }

    .tech-stack-title {
        @include styles.degrade-blue-text;
        font-size: 2.3rem;
        margin: 1.5 rem 0;
    }

    .tech-stack-paragraph {
        text-align: center;
        color: white;
        font-size: 1.9rem;
        margin: 0 0 1.5rem 0;
        height: 12%;
    }

    .desktop-tech-stack-images {
        display: flex;
        position: relative;
        height: 27rem;
        width: 100%;

        .frontend {
            @include desktop-image-config;
        }

        .backend {
            @include desktop-image-config;
        }
    }

    .mobile-tech-stack-images {
        display: none;
    }
}

@media (max-width: 429px) {
    .tech-stack {
        padding-bottom: 0;
        height: 26rem;

        .fullstack-subtitle {
            font-size: 0.8rem;
        }

        .tech-stack-title {
            font-size: 1.7rem;
        }

        .tech-stack-paragraph {
            font-size: 1.3rem;
            height: 4.5rem;
            width: 92vw;
        }

        .desktop-tech-stack-images {
            display: none;
        }

        .mobile-tech-stack-images {
            display: block;
            position: relative;
            height: 11.3rem;
            width: 87vw;

            .frontend {
                @include mobile-image-config;
            }

            .backend {
                @include mobile-image-config;
            }
        }
    }
}

@media (max-width: 377px) {
    .tech-stack {
        .tech-stack-title {
            font-size: 1.6rem;
        }

        .tech-stack-paragraph {
            font-size: 1.2rem;
            height: 4.5rem;
            width: 92vw;
        }

        .mobile-tech-stack-images {
            height: 10.3rem;
            width: 87vw;
        }
    }
}

@media (max-width: 369px) {
    .tech-stack {
        .tech-stack-title {
            font-size: 1.5rem;
        }

        .tech-stack-paragraph {
            font-size: 1.1rem;
            height: 4.5rem;
            width: 92vw;
        }

        .mobile-tech-stack-images {
            height: 9.9rem;
            width: 86.8vw;
        }
    }
}

@media (max-width: 361px) {
    .tech-stack {
        .mobile-tech-stack-images {
            height: 9.5rem;
            width: 86.7vw;
        }
    }
}