@use '../../sass/styles';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: white;
    padding: 0 4rem;
    height: 5rem;

    .aycpdeveloper-logo {
        height: 2.4rem;
        width: 6.2rem;

        &:hover {
            cursor: pointer;
        }
    }

    .contact-me-container {
        @include styles.center;
        flex-direction: column;
        height: 2.4rem;
        width: 6.2rem;

        .contact-me {
            color: white;
            font-size: 0.9rem;
            letter-spacing: 0.5px;
            text-decoration: none;

            &:hover {
                cursor: pointer;
            }
        }

        .div1 {
            position: relative;
            width: 6rem;

            .whatsapp-button {
                @include styles.glassmorphism-card-effect;
                @include styles.center;
                border-radius: 0.4rem;
                z-index: 2;
                height: 6rem;
                width: 100%;
            }
        }
    }
}

@media (max-width: 429px) {
    .navbar {
        padding: 0 1.5rem;
        height: 4rem;

        .aycpdeveloper-logo {
            height: 2.1rem;
            width: 5.6rem;
        }

        .contact-me-container {
            height: 2.1rem;
            width: 5.6rem;

            .contact-me {
                font-size: 0.8rem;
            }

            .div1 {
                width: 5.6rem;

                .whatsapp-button {
                    height: 5.6rem;
                    width: 100%;
                }
            }
        }
    }
}