@use "../../sass/styles";

.technologies {
    @include styles.background;
    @include styles.center;
    flex-direction: column;
    padding-bottom: 6rem;
    height: 100vh;
    width: 100vw;

    .knowledge-subtitle {
        color: white;
        font-size: 1rem;
    }

    .technologies-title {
        @include styles.degrade-blue-text;
        font-size: 2.3rem;
        margin: 1.4rem 0;
    }

    .tech-stack-names-paragraph {
        text-align: center;
        color: white;
        font-size: 1.8rem;
        margin: 0;
        padding-bottom: 1.4rem;
        height: 15.4%;
        width: 78%;
    }

    .tech-stack {
        background-color: cadetblue;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 1rem;
        padding: 0;
        height: 37%;
        width: 78%;

        .icon {
            color: white;
            font-size: 4.5rem;
        }

        .bash {
            font-size: 4.5rem;
        }

        .express {
            font-size: 5rem;
        }

        .github {
            font-size: 4.5rem;
        }
    }
}

@media (max-width: 429px) {
    .technologies {
        padding-bottom: 0;
        height: 32rem;

        .knowledge-subtitle {
            font-size: 0.8rem;
        }

        .technologies-title {
            font-size: 1.7rem;
        }

        .tech-stack-names-paragraph {
            font-size: 1.3rem;
            height: 5rem;
            width: 92vw;
        }

        .tech-stack {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-column-gap: 0;
            grid-row-gap: 0;
            height: 13.4rem;
            width: 92vw;

            .svg-icon {
                height: 3.2rem;
                width: 3.2rem;
            }

            .icon {
                font-size: 2.5rem;
            }

            .bash {
                font-size: 3.4rem;
            }

            .express {
                font-size: 3.8rem;
            }

            .github {
                font-size: 3.4rem;
            }
        }
    }
}

@media (max-width: 377px) {
    .technologies {
        .technologies-title {
            font-size: 1.6rem;
        }

        .tech-stack-names-paragraph {
            font-size: 1.2rem;
            height: 5.6rem;
        }
    }
}

@media (max-width: 369px) {
    .technologies {
        .technologies-title {
            font-size: 1.5rem;
        }

        .tech-stack-names-paragraph {
            font-size: 1.1rem;
            height: 4rem;
        }
    }
}