@use "../../sass/styles";

.technologies {
    @include styles.center;
    flex-direction: column;
    padding: 5rem 8rem 6rem 8rem;
    height: 28rem;

    .knowledge-subtitle {
        color: white;
        font-size: 1rem;
    }

    .technologies-title {
        @include styles.degrade-blue-text;
        font-size: 2.3rem;
        margin: 1.5rem 0;
    }

    .tech-stack-names-paragraph {
        text-align: center;
        color: white;
        font-size: 1.8rem;
        margin: 0;
        margin-bottom: 1.5rem;
    }

    .tech-stack {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0.5rem;
        padding: 0;
        height: 14.8rem;
        width: 100%;

        .icon {
            color: white;
            font-size: 4.5rem;
        }

        .bash {
            font-size: 6rem;
        }

        .express {
            font-size: 7rem;
        }

        .github {
            font-size: 6rem;
        }
    }
}

@media (max-width: 429px) {
    .technologies {
        padding: 2.5rem 1.5rem 2.5rem 1.5rem;
        height: 24rem;

        .knowledge-subtitle {
            font-size: 0.8rem;
        }

        .technologies-title {
            font-size: 1.7rem;
        }

        .tech-stack-names-paragraph {
            font-size: 1.2rem;
        }

        .tech-stack {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-column-gap: 0;
            grid-row-gap: 0;
            height: 12.1rem;

            .svg-icon {
                height: 3.2rem;
                width: 3.2rem;
            }

            .icon {
                font-size: 2.5rem;
            }

            .bash {
                font-size: 3.4rem;
            }

            .express {
                font-size: 3.8rem;
            }

            .github {
                font-size: 3.4rem;
            }
        }
    }
}

@media (max-width: 387px) {
    .technologies {
        .technologies-title {
            font-size: 1.6rem;
        }

        .tech-stack-names-paragraph {
            font-size: 1.1rem;
        }
    }
}

@media (max-width: 369px) {
    .technologies {
        .technologies-title {
            font-size: 1.5rem;
        }

        .tech-stack-names-paragraph {
            font-size: 1rem;
        }
    }
}