.start {
  --s: 78px;
  --tree-color: #1A5465;
  --ornament-color: #62AEC2;
  --snowflake-color: #62AEC2;
  --background-color: #000000;
  --_c: var(--tree-color), var(--background-color) 1deg 79deg,
      var(--background-color) 81deg;
  --g0: conic-gradient(from 140deg at 50% 87.5%, var(--_c));
  --g1: conic-gradient(from 140deg at 50% 81.25%, var(--_c));
  --g2: conic-gradient(from 140deg at 50% 75%, var(--_c));
  --g3: conic-gradient(at 10% 20%, #0000 75%, var(--snowflake-color) 0);
  --g4: repeating-conic-gradient(from 45deg,
          var(--ornament-color) 0 25%,
          #fff 0 50%);
  background: var(--g0) 0 calc(var(--s) / -4), var(--g0) var(--s) calc(3 * var(--s) / 4), var(--g1), var(--g1) var(--s) var(--s), var(--g2) 0 calc(var(--s) / 4), var(--g2) var(--s) calc(5 * var(--s) / 4), var(--g3) calc(var(--s) / -10) var(--s), var(--g3) calc(9 * var(--s) / 10) calc(2 * var(--s)), var(--g4) calc(var(--s) / 2) var(--s);
  background-size: calc(2 * var(--s)) calc(2 * var(--s));
  background-position: center center;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem 4rem 4rem 4rem;
  height: 20rem;
}
.start .titles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 76%;
}
.start .titles-container .get-to-know-me-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 82%;
}
.start .titles-container .get-to-know-me-title-container .get-to-know-me-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0;
  height: 100%;
}
.start .titles-container .art-science-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-color);
  font-size: 1.2rem;
  height: 18%;
}
.start .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 17%;
  width: 85%;
}

@media (max-width: 429px) {
  .start {
    padding: 3rem 1.5rem 2rem 1.5rem;
    height: 32rem;
  }
  .start .titles-container {
    gap: 1rem;
    height: 54%;
  }
  .start .titles-container .get-to-know-me-title-container {
    height: 70%;
    width: 100%;
  }
  .start .titles-container .get-to-know-me-title-container .get-to-know-me-title {
    font-size: 2rem;
    height: 100%;
    width: 100%;
  }
  .start .titles-container .art-science-subtitle {
    font-size: 0.9rem;
    height: 12%;
    width: 85%;
  }
  .start .buttons-container {
    flex-direction: column;
    height: 40%;
  }
}
@media (max-width: 419px) {
  .start .titles-container .get-to-know-me-title-container .get-to-know-me-title {
    font-size: 1.8rem;
    height: 100%;
    width: 100%;
  }
  .start .titles-container .art-science-subtitle {
    font-size: 0.87rem;
    width: 85%;
  }
}
@media (max-width: 382px) {
  .start .titles-container {
    gap: 0;
  }
  .start .titles-container .get-to-know-me-title-container .get-to-know-me-title {
    font-size: 1.6rem;
    height: 100%;
    width: 100%;
  }
  .start .titles-container .art-science-subtitle {
    font-size: 0.84rem;
    width: 85%;
  }
}
@media (max-width: 361px) {
  .start .titles-container .get-to-know-me-title-container .get-to-know-me-title {
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
  }
  .start .titles-container .art-science-subtitle {
    font-size: 0.83rem;
    width: 85%;
  }
}/*# sourceMappingURL=Start.css.map */