@use "../../sass/styles";

.start {
    @include styles.center;
    flex-direction: column;
    justify-content: space-between;
    padding: 6rem 8rem 5rem 8rem;
    height: 20rem;

    .titles-container {
        @include styles.center;
        flex-direction: column;
        height: 76%;

        .get-to-know-me-title-container {
            height: 82%;

            .get-to-know-me-title {
                @include styles.center;
                position: relative;
                flex-direction: column;
                text-align: center;
                color: white;
                font-size: 3.5rem;
                font-weight: bold;
                margin: 0;
                height: 100%;
            }
        }

        .art-science-subtitle {
            @include styles.center;
            color: var(--gray-color);
            font-size: 1.2rem;
            height: 18%;
        }
    }

    .buttons-container {
        @include styles.center;
        justify-content: space-between;
        height: 17%;
        width: 100%;
    }
}

@media (max-width: 429px) {
    .start {
        padding: 3rem 1.5rem 2.5rem 1.5rem;
        height: 34.5rem;

        .titles-container {
            gap: 1rem;
            height: 56%;

            .get-to-know-me-title-container {
                height: 70%;
                width: 100%;

                .get-to-know-me-title {
                    font-size: 2.1rem;
                    height: 100%;
                    width: 100%;
                }
            }

            .art-science-subtitle {
                font-size: 0.9rem;
                height: 12%;
                width: 85%;
            }
        }

        .buttons-container {
            flex-direction: column;
            height: 40%;
            width: 86%;
        }
    }
}

@media (max-width: 419px) {
    .start {
        .titles-container {
            .get-to-know-me-title-container {
                .get-to-know-me-title {
                    font-size: 2rem;
                    height: 100%;
                    width: 100%;
                }
            }

            .art-science-subtitle {
                font-size: 0.89rem;
            }
        }
    }
}

@media (max-width: 400px) {
    .start {
        .titles-container {
            gap: 0;

            .get-to-know-me-title-container {
                .get-to-know-me-title {
                    font-size: 1.9rem;
                    height: 100%;
                    width: 100%;
                }
            }

            .art-science-subtitle {
                font-size: 0.88rem;
            }
        }
    }
}

@media (max-width: 387px) {
    .start {
        .titles-container {
            gap: 0;

            .get-to-know-me-title-container {
                .get-to-know-me-title {
                    font-size: 1.8rem;
                    height: 100%;
                    width: 100%;
                }
            }

            .art-science-subtitle {
                font-size: 0.87rem;
            }
        }
    }
}

@media (max-width: 360px) {
    .start {
        .titles-container {
            .get-to-know-me-title-container {
                .get-to-know-me-title {
                    font-size: 1.7rem;
                    height: 100%;
                    width: 100%;
                }
            }

            .art-science-subtitle {
                font-size: 0.86rem;
            }
        }
    }
}