@use "../../sass/styles";

.start {
    @include styles.background;
    @include styles.center;
    flex-direction: column;
    justify-content: space-between;
    padding: 6rem 4rem 4rem 4rem;
    height: 20rem;

    .titles-container {
        @include styles.center;
        flex-direction: column;
        height: 76%;

        .get-to-know-me-title-container {
            @include styles.center;
            flex-direction: column;
            height: 82%;

            .get-to-know-me-title {
                @include styles.center;
                position: relative;
                flex-direction: column;
                text-align: center;
                color: white;
                font-size: 3.5rem;
                font-weight: bold;
                margin: 0;
                height: 100%;
            }
        }

        .art-science-subtitle {
            @include styles.center;
            color: var(--gray-color);
            font-size: 1.2rem;
            height: 18%;
        }
    }

    .buttons-container {
        @include styles.center;
        justify-content: space-between;
        height: 17%;
        width: 85%;
    }
}

@media (max-width: 429px) {
    .start {
        padding: 3rem 1.5rem 2rem 1.5rem;
        height: 32rem;

        .titles-container {
            gap: 1rem;
            height: 54%;

            .get-to-know-me-title-container {
                height: 70%;
                width: 100%;

                .get-to-know-me-title {
                    font-size: 2rem;
                    height: 100%;
                    width: 100%;
                }
            }

            .art-science-subtitle {
                font-size: 0.9rem;
                height: 12%;
                width: 85%;
            }
        }

        .buttons-container {
            flex-direction: column;
            height: 40%;
        }
    }
}

@media (max-width: 419px) {
    .start {
        .titles-container {
            .get-to-know-me-title-container {
                .get-to-know-me-title {
                    font-size: 1.8rem;
                    height: 100%;
                    width: 100%;
                }
            }

            .art-science-subtitle {
                font-size: 0.87rem;
                width: 85%;
            }
        }
    }
}

@media (max-width: 382px) {
    .start {
        .titles-container {
            gap: 0;

            .get-to-know-me-title-container {
                .get-to-know-me-title {
                    font-size: 1.6rem;
                    height: 100%;
                    width: 100%;
                }
            }

            .art-science-subtitle {
                font-size: 0.84rem;
                width: 85%;
            }
        }
    }
}

@media (max-width: 361px) {
    .start {
        .titles-container {
            .get-to-know-me-title-container {
                .get-to-know-me-title {
                    font-size: 1.5rem;
                    height: 100%;
                    width: 100%;
                }
            }

            .art-science-subtitle {
                font-size: 0.83rem;
                width: 85%;
            }
        }
    }
}