@use "../../sass/styles";

.start {
    @include styles.background;
    @include styles.center;
    justify-content: start;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 4rem;
    height: 87.5vh;
    width: 100vw;

    .titles-container {
        @include styles.center;
        flex-direction: column;
        margin-top: 2.3rem;
        height: 56%;
        width: 100%;

        .get-to-know-me-title-container {
            @include styles.center;
            flex-direction: column;
            height: 82%;
            width: 78%;

            .get-to-know-me-title {
                position: relative;
                text-align: center;
                color: white;
                font-size: 3.14rem;
                font-weight: bold;
                margin: 0;
                height: 67%;
                width: 100%;
            }

            .word-changer-container {
                font-size: 3.14rem;
                font-weight: bold;
                height: 33%;
                width: 85.5%;
            }
        }

        .art-science-subtitle {
            @include styles.center;
            color: var(--gray-color);
            font-size: 1.2rem;
            height: 18%;
        }
    }

    .buttons-container {
        @include styles.center;
        justify-content: space-between;
        height: 10%;
        width: 78%;
    }
}

@media (max-width: 429px) {
    .start {
        justify-content: center;
        gap: 0rem;
        padding-bottom: 0;
        height: 37rem;

        .titles-container {
            justify-content: space-around;
            margin-top: 0;
            height: 17rem;
            width: 92vw;

            .get-to-know-me-title-container {
                height: 78%;
                width: 100%;

                .get-to-know-me-title {
                    font-size: 2rem;
                    height: 54%;
                    width: 100%;
                }

                .word-changer-container {
                    @include styles.center;
                    align-items: start;
                    font-size: 2rem;
                    height: 36%;
                    width: 100%;
                }
            }

            .art-science-subtitle {
                font-size: 0.9rem;
                height: 12%;
                width: 100%;
            }
        }

        .buttons-container {
            flex-direction: column;
            margin-top: 2rem;
            height: 12rem;
            width: 65vw;
        }
    }
}

@media (max-width: 403px) {
    .start {
        .titles-container {
            justify-content: center;

            .get-to-know-me-title-container {
                height: 88%;

                .get-to-know-me-title {
                    font-size: 1.96rem;
                    height: 47%;
                }

                .word-changer-container {
                    font-size: 1.96rem;
                    height: 33%;
                }
            }
        }
    }
}

@media (max-width: 395px) {
    .start {
        .titles-container {
            .get-to-know-me-title-container {
                height: 86%;

                .get-to-know-me-title {
                    font-size: 1.92rem;
                }

                .word-changer-container {
                    font-size: 1.92rem;
                }
            }
        }
    }
}

@media (max-width: 390px) {
    .start {
        .titles-container {
            .get-to-know-me-title-container {
                .get-to-know-me-title {
                    font-size: 1.90rem;
                    height: 47%;
                }

                .word-changer-container {
                    font-size: 1.90rem;
                }
            }
        }
    }
}

@media (max-width: 383px) {
    .start {
        .titles-container {
            justify-content: center;

            .get-to-know-me-title-container {
                .get-to-know-me-title {
                    font-size: 1.87rem;
                }

                .word-changer-container {
                    font-size: 1.87rem;
                }
            }
        }
    }
}

@media (max-width: 377px) {
    .start {
        .titles-container {
            align-content: center;

            .get-to-know-me-title-container {
                .get-to-know-me-title {
                    font-size: 1.84rem;
                    height: 46%;
                }

                .word-changer-container {
                    font-size: 1.84rem;
                }
            }
        }
    }
}

@media (max-width: 371px) {
    .start {
        .titles-container {
            align-content: center;

            .get-to-know-me-title-container {
                .get-to-know-me-title {
                    font-size: 1.81rem;
                }

                .word-changer-container {
                    font-size: 1.81rem;
                }
            }
        }
    }
}

@media (max-width: 369px) {
    .start {
        .titles-container {
            .get-to-know-me-title-container {
                .get-to-know-me-title {
                    font-size: 1.78rem;
                    height: 44%;
                }

                .word-changer-container {
                    font-size: 1.78rem;
                }
            }
        }
    }
}