@use "../../sass/styles";

.start {
    @include styles.background;
    @include styles.center;
    justify-content: start;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 4rem;
    height: 87.5vh;
    width: 100vw;

    .titles-container {
        @include styles.center;
        flex-direction: column;
        margin-top: 2.3rem;
        height: 56%;
        width: 100%;

        .get-to-know-me-title-container {
            @include styles.center;
            flex-direction: column;
            height: 82%;
            width: 78%;

            .get-to-know-me-title {
                position: relative;
                text-align: center;
                color: white;
                font-size: 3.14rem;
                font-weight: bold;
                margin: 0;
                height: 67%;
                width: 100%;
            }

            .word-changer-container {
                font-size: 3.14rem;
                font-weight: bold;
                height: 33%;
                width: 85.5%;
            }
        }

        .art-science-subtitle {
            @include styles.center;
            color: var(--gray-color);
            font-size: 1.2rem;
            height: 18%;
        }
    }

    .buttons-container {
        @include styles.center;
        justify-content: space-between;
        height: 10%;
        width: 78%;
    }
}

@media (max-width: 429px) {
    .start {
        justify-content: center;
        gap: 0rem;
        padding-bottom: 0;
        height: 37rem;

        .titles-container {
            justify-content: space-between;
            margin-top: 0;
            height: 20.7rem;
            width: 92vw;

            .get-to-know-me-title-container {
                height: 83%;
                width: 100%;

                .get-to-know-me-title {
                    font-size: 2.35rem;
                }

                .word-changer-container {
                    @include styles.center;
                    align-items: start;
                    font-size: 2.35rem;
                }
            }

            .art-science-subtitle {
                font-size: 0.9rem;
                height: 12%;
                width: 100%;
            }
        }

        .buttons-container {
            flex-direction: column;
            margin-top: 2rem;
            height: 12rem;
            width: 65vw;
        }
    }
}

@media (max-width: 377px) {
    .start {
        .titles-container {
            .get-to-know-me-title-container {
                height: 81%;

                .get-to-know-me-title {
                    font-size: 2.3rem;
                }

                .word-changer-container {
                    font-size: 2.3rem;
                }
            }
        }
    }
}

@media (max-width: 369px) {
    .start {
        .titles-container {
            .get-to-know-me-title-container {
                height: 80%;

                .get-to-know-me-title {
                    font-size: 2.25rem;
                }

                .word-changer-container {
                    font-size: 2.25rem;
                }
            }
        }
    }
}

@media (max-width: 361px) {
    .start {
        .titles-container {
            .get-to-know-me-title-container {
                height: 79%;

                .get-to-know-me-title {
                    font-size: 2.2rem;
                }

                .word-changer-container {
                    font-size: 2.2rem;
                }
            }
        }
    }
}