@use "../../sass/styles";

@mixin recommended-config {
    margin-right: 3.1rem;
    height: 84%;
}

@mixin h2-config {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0 0.6rem 0;
}

@mixin ul-config {
    margin: 0;
    padding: 0;
    height: 85%;
}

@mixin li-config {
    list-style: none;
    opacity: 0.7;
    margin: 0 0 0.2rem 0;
}

@mixin a-config {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

.footer {
    @include styles.center;
    flex-direction: column;
    padding-top: 4rem;
    height: 50vh;
    width: 100vw;

    .div4 {
        position: relative;
        z-index: 2;
        height: 30%;
        width: 94%;

        .content {
            @include styles.glassmorphism-card-effect;
            letter-spacing: 0.4px;
            border-radius: 1.4rem;
            height: 16rem;
            width: 100%;

            .logo-recommended-resources-container {
                @include styles.center;
                justify-content: end;
                height: 80%;
                width: 100%;

                .aycpdeveloper-logo {
                    position: absolute;
                    top: 14%;
                    left: 4.5%;
                    height: 3rem;
                    width: 8.2rem;
                }

                .recommended-pages {
                    @include recommended-config;

                    h2 {
                        @include h2-config;
                    }

                    ul {
                        @include ul-config;

                        li {
                            @include li-config;

                            a {
                                @include a-config;
                            }
                        }
                    }
                }

                .recommended-channels {
                    @include recommended-config;

                    h2 {
                        @include h2-config;
                    }

                    ul {
                        @include ul-config;

                        li {
                            @include li-config;

                            a {
                                @include a-config;
                            }
                        }
                    }
                }

                .recommended-bootcamps {
                    @include recommended-config;

                    h2 {
                        @include h2-config;
                    }

                    ul {
                        @include ul-config;

                        li {
                            @include li-config;

                            a {
                                @include a-config;
                            }
                        }
                    }
                }
            }

            .copyright {
                color: white;
                font-size: 1rem;
                margin: 0 0 0 3.5rem;
            }
        }
    }

    .div5 {
        position: relative;
        z-index: 1;
        height: 70%;
        width: 100%;

        .background-footer {
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
}

@media (max-width: 475px) {
    .footer {
        padding-top: 2.5rem;
        height: 12.5rem;

        .div4 {
            width: 87%;

            .content {
                @include styles.center;
                flex-direction: column;
                height: 10.6rem;

                .logo-recommended-resources-container {
                    justify-content: center;
                    border-top-left-radius: 1.4rem;
                    border-bottom-left-radius: 1.4rem;
                    margin-bottom: 0.7rem;
                    height: 24%;

                    .aycpdeveloper-logo {
                        position: relative;
                        top: 0;
                        left: 0;
                        height: 2.3rem;
                        width: 6.2rem;
                    }

                    .recommended-pages {
                        display: none;
                    }

                    .recommended-channels {
                        display: none;
                    }

                    .recommended-bootcamps {
                        display: none;
                    }
                }

                .copyright {
                    @include styles.center;
                    text-align: center;
                    margin-left: 0;
                    width: 90%;
                }
            }
        }
    }
}

@media (max-width: 429px) {
    .footer {
        height: 10.5rem;

        .div4 {
            .content {
                height: 8.9rem;

                .logo-recommended-resources-container {
                    .aycpdeveloper-logo {
                        height: 2.1rem;
                        width: 5.6rem;
                    }
                }
            }
        }
    }
}