@use '../../sass/styles';

.view-cv {
    height: 100%;
    width: 25%;

    .cv-file-window-container {
        @include styles.glassmorphism-card-effect;
        @include styles.window-container-config;
        @include styles.center;
        overflow-y: auto;
        gap: 14rem;

        .x-icon-container {
            @include styles.x-config;
            @include styles.center;
        }

        .zoom-out-icon-container {
            @include styles.center;
            border-radius: 0.4rem;
            height: 4rem;
            width: 4rem;
        }

        .zoom-in-icon-container {
            @include styles.center;
            border-radius: 0.4rem;
            height: 4rem;
            width: 4rem;
        }
    }
}

@media (max-width: 429px) {
    .view-cv {
        height: 24%;
        width: 100%;

        .cv-file-window-container {
            flex-direction: column-reverse;
            gap: 2rem;

            .x-icon-container {
                position: relative;
                top: 0;
                right: 0;
            }

            .zoom-out-icon-container {
                display: none;
            }

            .zoom-in-icon-container {
                display: none;
            }
        }
    }
}

@media (max-width: 400px) {
    .view-cv {
        height: 23.5%;
    }
}

@media (max-width: 376px) {
    .view-cv {
        height: 23%;
    }
}