@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

:root {
    --gray-color: #909091;
}

.App {
    font-family: 'Anta', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}