@use '../../sass/styles';

.get-to-know-me {
    .profile-picture-window-container {
        @include styles.glassmorphism-card-effect;
        @include styles.window-container-config;
        @include styles.center;

        .x-icon-container {
            @include styles.x-config;
            @include styles.center;
        }
    }
}